|Hello World
br
form(method="post", action="/search")
  div search for movie
  input(name="title")
  button submit
|Add movie
form(method="post")
  div movie
  input(name="title")
  button submit

div(style="margin-top:20px;")
  |#{movie}
