link(rel="stylesheet",type="text/css",href="/styles/main.css")
|Hello World
br
form(method="post", action="/search")
  div search for movie
  input(name="title")
  button submit
|Add movie
form(method="post")
  div movie
  input(name="title")
  button submit
|Remove movie
form(method="post", action="delete")
  div movie
    span.error  #{deleteFailed}
  input(name="title")
  button submit
div(style="margin-top:20px;")
  //- |#{movie}
  - if (movie) for (var i = 0; i < movie.length; i++)
    p #{movie[i].title}
