//- extends layout.pug
extends layout
//- content inserted into the layout.pug block content
block content
    //- 變數宣告
    - var friends = 10
    //- switch case
    case friedns
        when 0
            p you have no friends
        when 1
            p you have a friend
        default
            p you have #{friends} friends.
    //- for 迴圈
    - for (var x = 0; x < 3; x++)
        li item;
    a(class="button",href="http://www.google.com") hi
    = '\n'
    a.button(href="https://tw.yahoo.com") class
    = '\n'
    a#button(href="#ids") id
    = '\n'
    div.className this is a div with class className
    .className this is another div with the class className
    .col-sm-5 content in this div.
        .col-sm-6 this is inside another div.

//- //- 在前附加 header.pug
//- prepand header

//- //- 在後附加 scripts.pug
//- append scripts