doctype html
html(lang="ch")
    head
        link(rel="stylesheet",type="text/css",href="/styles/main.css")
    body
        include header
        //- content will be inserted to this area
        block content
        include footer