extends layout
block content
    .userPerson This is the user page for #{user}
    br
    |This person's best movie is #{movie.title}
    br
    |This was released in #{movie.year}
    br
    |It was directed by #{movie.director}